/*CONFIGURAÇÕES DA IMAGEM*/

  img{

    height: 200px;
    width: 200px;
    cursor: pointer;
    

  }

/*CONFIGURAÇÕES DA TAG <HR>*/
  h1, h2, h4 {
    cursor: pointer;

  }

/*CONFIGURAÇÕES DO BODY*/

  body{
      background-color: #A3E4DB;
      color: #1C6DD0;

      margin-bottom: 30px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px;

  }

hr{

  width: 50%;

}

ul{
  list-style-type: none;
  
}

a{
 text-decoration: none;
 cursor: pointer; 
}
